@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li{
    @apply text-dark hover:text-brown  cursor-pointer;
  }
}
.box{
  @apply bg-white cursor-pointer text-dark flex-col items-center justify-center p-4 text-center;
}
.header{
  background: url("./assets/header.png") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
  
}
