@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
      scroll-behavior: smooth;
    }
  li{
    @apply text-dark hover:text-brown  cursor-pointer;
  }

    footer {
     
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 0;
    }
}
.box {
  @apply bg-white cursor-pointer text-dark flex-col items-center justify-center p-4 text-center w-[100%] md:w-[30%] rounded-lg;
}
.guestItem {
  @apply w-[200px] flex justify-between m-2.5;
}
.guestCounter {
  @apply flex items-center gap-2.5 text-xs text-[black];
}
.guestCounterButton {
  @apply w-[30px] h-[30px] border text-[#0071c2] cursor-pointer bg-[white] border-solid border-[#0071c2] disabled:cursor-not-allowed;
}
.input{
  @apply bg-[#F2F2F2] outline-none border-none p-3 w-full rounded-md placeholder:p-4 mb-2;
}
.table{
  @apply flex justify-between border-b-2 pb-2;
}
.header{
  background: url("./assets/header.png") no-repeat center center;
  background-size: cover;
  height:100vh;
  width: 100%;
  color: white;
  
}
.cursive{
  font-family: cursive;
}
